.row{
  margin-right: 15px;
}
.header-link-column{
  height: 90px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #f19f0f;
  }
.fixed-header{
  width: 100%;
}
a:hover{
  text-decoration: none;
  color: white;
}
.container-padding-top{
  padding-top:10px;
}
.development-text{
  padding-top: 10px;
  font-size: 20px;
  color: white;
}
.development-div{
  height:50px;
  background-color: grey;
}
.development-div:first-child{
  border-right: 2px solid white;
}
.facebook-link{
  margin-right: 170px;
}
.name{
  font-size:20px;
  color:white;
}
.developer-text{
 color:white;
 font-size:15px;
}
.ios-app-card{
  margin-top: 10px;
  width: 50%;
  height: 250px;
  border-radius: 5%;
  border: 2px solid grey;
}
.cool-iphone{
  display: inline;
  position: absolute;
  width: 80%;
  z-index: 10;
}
.iphone-screen{
  position: absolute;
  z-index: 100;
  margin-left: 25px;
  margin-top: 150px;
}
.web-store{
  color: #16a085;
}
.web-store:hover{
  color: #16a085;
  text-decoration: none;
}
.app-store{
  color: #FF3300;
}
.app-store:hover{
  color: #FF3300;
  text-decoration: none;
}
