.video#bgvid{
	position: absolute; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background-size: cover;
}
.video{
	display: block;
}
.video-overlay-content{
	position: absolute; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background-size: cover;
	display: block;
	background-color: rgba(0,0,0,0.5);
}
.h1{
	width: 100%;
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	margin-bottom:0px;
	margin-top: 20%;
	font-size: 3.75em;
}
.h2{
	width: 100%;
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-style: italic;
	margin-top:0px;
}
@media(min-width: 25px){ .h1{ font-size: 0em; } }@media(min-width: 50px){ .h1{ font-size: 0.3125em; } }@media(min-width: 75px){ .h1{ font-size: 0.625em; } }@media(min-width: 100px){ .h1{ font-size: 0.9375em; } }@media(min-width: 125px){ .h1{ font-size: 1.25em; } }@media(min-width: 150px){ .h1{ font-size: 1.5625em; } }@media(min-width: 175px){ .h1{ font-size: 1.875em; } }@media(min-width: 200px){ .h1{ font-size: 2.1875em; } }@media(min-width: 225px){ .h1{ font-size: 2.5em; } }@media(min-width: 250px){ .h1{ font-size: 2.8125em; } }@media(min-width: 275px){ .h1{ font-size: 3.125em; } }@media(min-width: 300px){ .h1{ font-size: 3.4375em; } }@media(min-width: 325px){ .h1{ font-size: 3.75em; } }@media(min-width: 350px){ .h1{ font-size: 4.0625em; } }@media(min-width: 375px){ .h1{ font-size: 4.375em; } }@media(min-width: 400px){ .h1{ font-size: 4.6875em; } }@media(min-width: 425px){ .h1{ font-size: 5em; } }@media(min-width: 450px){ .h1{ font-size: 5.3125em; } }@media(min-width: 475px){ .h1{ font-size: 5.625em; } }@media(min-width: 500px){ .h1{ font-size: 5.9375em; } }@media(min-width: 525px){ .h1{ font-size: 6.25em; } }@media(min-width: 550px){ .h1{ font-size: 6.5625em; } }@media(min-width: 575px){ .h1{ font-size: 6.875em; } }@media(min-width: 600px){ .h1{ font-size: 7.1875em; } }@media(min-width: 625px){ .h1{ font-size: 7.5em; } }@media(min-width: 650px){ .h1{ font-size: 7.8125em; } }@media(min-width: 675px){ .h1{ font-size: 8.125em; } }@media(min-width: 700px){ .h1{ font-size: 8.4375em; } }@media(min-width: 725px){ .h1{ font-size: 8.75em; } }@media(min-width: 750px){ .h1{ font-size: 9.0625em; } }@media(min-width: 775px){ .h1{ font-size: 9.375em; } }@media(min-width: 800px){ .h1{ font-size: 9.6875em; } }@media(min-width: 825px){ .h1{ font-size: 10em; } }@media(min-width: 850px){ .h1{ font-size: 10.3125em; } }@media(min-width: 875px){ .h1{ font-size: 10.625em; } }@media(min-width: 900px){ .h1{ font-size: 10.9375em; } }@media(min-width: 925px){ .h1{ font-size: 11.25em; } }@media(min-width: 950px){ .h1{ font-size: 11.5625em; } }@media(min-width: 975px){ .h1{ font-size: 11.875em; } }@media(min-width: 1000px){ .h1{ font-size: 12.1875em; } }@media(min-width: 1025px){ .h1{ font-size: 12.5em; } }@media(min-width: 1050px){ .h1{ font-size: 12.8125em; } }@media(min-width: 1075px){ .h1{ font-size: 13.125em; } }@media(min-width: 1100px){ .h1{ font-size: 13.4375em; } }@media(min-width: 1125px){ .h1{ font-size: 13.75em; } }@media(min-width: 1150px){ .h1{ font-size: 14.0625em; } }@media(min-width: 1175px){ .h1{ font-size: 14.375em; } }@media(min-width: 1200px){ .h1{ font-size: 14.6875em; } }@media(min-width: 1225px){ .h1{ font-size: 15em; } }@media(min-width: 1250px){ .h1{ font-size: 15.3125em; } }@media(min-width: 1275px){ .h1{ font-size: 15.625em; } }@media(min-width: 1300px){ .h1{ font-size: 15.9375em; } }@media(min-width: 1325px){ .h1{ font-size: 16.25em; } }@media(min-width: 1350px){ .h1{ font-size: 16.5625em; } }@media(min-width: 1375px){ .h1{ font-size: 16.875em; } }@media(min-width: 1400px){ .h1{ font-size: 17.1875em; } }@media(min-width: 1425px){ .h1{ font-size: 17.5em; } }@media(min-width: 1450px){ .h1{ font-size: 17.8125em; } }@media(min-width: 1475px){ .h1{ font-size: 18.125em; } }@media(min-width: 1500px){ .h1{ font-size: 18.4375em; } }
