.header-black-background{
  background-color:black;
  height: 75px;
  width:102%;
  position: fixed;
  z-index: 1;
}
.rohit-sehgal{
  color: white;
  font-size: 25px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0px;
  margin-top: 25px;
}
.header-a{
  margin: 30px;
}
.header-links{
  width: 55px;
  margin-top: 10px;
}
.header-links-github{
  width: 65px;
  margin-top: 5px;
}
.header-links-float{
  float: right;
}
//////////END HEADER//////////
.invisible{
  display:none;
}
p{
  font-size: 100px;
}
a:hover{
  text-decoration: none;
}
.cl-effect-21{
  color:white;
  float: right;
}
.profile-content{
  margin-top: 80px;
}
.main-content1{
  background-color: black;
  z-index: 10;
  margin-top: 80px;
}
.main-content{
  background-color: black;
  z-index: 10;
}
.main-content-row{
  background-color: black;
  height: 100%;
}
.content-links > a{
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: rgba(255,255,255,0.9);
  width: 100%;
  transition: 0.5s;
}
.content-links > a:hover{
  transition: 0.5s;
  color: red;
}
.content-headers{
  color: red;
  border-bottom: 2px solid white;
  width:100%;
  font-weight: 100;
  font-size: 35px;
  letter-spacing: 1px;
}
.form-headings{
  color: white;
  font-size: 20px;
  font-weight: 100;
  font-size: 25px;
  letter-spacing: 1px;
}
.form-responses{
  color: white;
  font-size: 15px;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 1px;
}
.line-height{
  line-height: 20px;
}
.profile-picture{
  border: 4px solid white;
  width: 70%;
}
.footer{
  margin-top: 5px;
  background-color: black;
  height: 50px;
}
.footer-text{
  text-align: right;
  margin-top: 20px;
  color: white;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}
@media only screen and (max-width:671px){
  .main-content1{
    margin-top: 217px;
  }
  .header-full{
    width:104%;
  }
  .header-logo{
    font-size: 20px;
  }
  .cl-effect-21{
    font-size: 12px;
  }
  .profile-picture{
    border: 4px solid white;
    width: 25%;
  }
  .main-content1{
  width: 105%;
}
  .main-content{
    width: 105%;
  }
  .rohit-sehgal{
    display:none;
  }
  .width-overflow{
    width: 0px;
  }
  .header-black-background{
    width: 104%;
  }
}
@media only screen and (max-width:767px){
  .header-full{
    position: absolute;
  }
  .profile-picture{
    border: 4px solid white;
    width: 25%;
  }
  .main-content1{
    margin-top: 80px;
    width: 100%;
  }
  .main-content{
    width: 100%;
  }
  a{
    margin: 0px;
  }
}
